body {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s all ease; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Microsoft YaHei"; }

.fl {
  float: left; }

.fr {
  float: right; }

.fk {
  font-size: 200px; }

.head {
  background: rgba(224, 228, 165, 0.11);
  width: 100%;
  height: 150px;
  -webkit-transition: 1.5s all ease;
  -ms-transform: 1.5s all ease;
  -moz-transform: 1.5s all ease;
  overflow: hidden; }
  .head .avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    z-index: 999;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    top: 10px;
    margin-left: -85px;
    -webkit-transition: 1s all ease;
    opacity: 0; }
    .head .avatar img {
      width: 130px;
      height: 130px; }

.avat {
  -webkit-transition: 1s all ease; }

.world {
  width: 564px;
  height: 100%;
  font-size: 100px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -282px;
  -webkit-transition: 1s all ease; }

.resume {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 55%;
  opacity: 0;
  -webkit-transition: 1s all ease;
  font-size: 20px;
  color: #787878;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: bolder; }

canvas {
  background: rgba(244, 252, 255, 0.02); }

.box {
  width: 100%;
  position: relative;
  height: 860px;
  overflow: hidden;
  -webkit-transition: 1s all ease; }
  .box .basic {
    background: rgba(70, 120, 53, 0.56); }
  .box .skill {
    background: rgba(19, 120, 30, 0.51); }
  .box .edu {
    background: rgba(45, 144, 21, 0.56); }
  .box .btn {
    width: 68px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bolder;
    color: #ececec;
    cursor: pointer;
    font-size: 20px; }

.resume .res {
  text-align: left;
  width: 100%;
  margin-top: -100px; }
  .resume .res li {
    display: none;
    background: #9fccff;
    margin-top: 10px;
    overflow: hidden;
    height: 50px;
    width: 0;
    color: #e4e7eb; }

.opus {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.35); }

.Next {
  width: 50px;
  height: 60px;
  z-index: 999;
  position: fixed;
  left: 53%;
  top: 90%;
  background: url("../img/next.png") no-repeat -20px -5px;
  margin-left: -25px; }

.back {
  width: 50px;
  height: 60px;
  z-index: 999;
  position: fixed;
  left: 48%;
  top: 90%;
  background: url("../img/next2.png") no-repeat -55px 0;
  margin-left: -25px;
  -webkit-transition: 1s all ease;
  -moz-transform: 1s all ease;
  -ms-transform: 1s all ease;
  transform: 1s all ease;
  opacity: 0; }

.exit {
  position: absolute;
  right: 50px;
  top: 20px;
  height: 50px;
  line-height: 50px; }

.opus_son {
  height: 960px;
  width: 100%;
  background-size: auto; }
  .opus_son .poster {
    overflow: hidden; }
  .opus_son li {
    width: 300px;
    height: 250px;
    float: left;
    margin-left: 246px;
    margin-top: 70px;
    background: rgba(244, 252, 255, 0.36);
    position: relative;
    font-size: 40px;
    text-align: center;
    line-height: 250px;
    color: #fff;
    cursor: pointer;
    opacity: 1; }
    .opus_son li h3 {
      font-weight: 100;
      height: 250px;
      background: url("../img/o3.png") no-repeat; }
    .opus_son li .sp {
      width: 50px;
      height: 50px;
      background: url("../img/exit.png") no-repeat -5px -3px;
      line-height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
      display: none; }

#box {
  width: 534px;
  height: 300px;
  position: relative;
  margin: 150px auto;
  overflow: hidden;
  opacity: 0; }
  #box ul {
    position: absolute;
    left: 0;
    top: 0; }
    #box ul li {
      float: left;
      width: 534px;
      height: 300px;
      margin: 0; }
      #box ul li img {
        height: 300px; }
  #box a {
    transition: .2s all ease; }
  #box a:hover {
    background: rgba(22, 57, 255, 0.4); }
  #box .next {
    right: 0;
    font-size: 16px;
    border-radius: 50% 0 0 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 40px;
    text-align: center;
    margin-top: -40px;
    display: none; }
  #box .prev {
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 40px;
    text-align: center;
    margin-top: -40px;
    display: none;
    left: 0;
    font-size: 16px;
    border-radius: 0 50% 50%  0; }
  #box ol {
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    bottom: 10px; }
    #box ol li {
      width: 20px;
      height: 20px;
      background: #f60;
      float: left;
      margin: 2px;
      text-align: center;
      text-indent: -9999px;
      border-radius: 50%; }
      #box ol li .active {
        background: #fff; }

.xdm {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 30%;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(800px) rotateY(0deg) rotateX(0deg); }
  .xdm div {
    color: black; }
  .xdm .zheng {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(111, 233, 143, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateZ(150px); }
  .xdm .fan {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(204, 38, 39, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateZ(-150px) scale(1, -1); }
  .xdm .left {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(28, 78, 0, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateX(-150px) rotateY(90deg) scale(1, -1); }
  .xdm .right {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(141, 113, 255, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateX(150px) rotateY(-90deg) scale(1, -1); }
  .xdm .top {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(142, 255, 19, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateY(-150px) rotateX(-90deg) scale(1, -1); }
  .xdm .bottom {
    width: 300px;
    height: 300px;
    position: absolute;
    background: rgba(84, 6, 87, 0.5);
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    -webkit-transform: translateY(150px) rotateX(-90deg) scale(1, -1); }

#wxt {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/h_1.jpeg") no-repeat; }

.wxtt {
  width: 100%;
  height: 100%;
  background: url("../img/h_9.jpg") no-repeat 0 -180px; }

#tz {
  opacity: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(48, 93, 187, 0.81);
  position: absolute;
  top: 0;
  left: 0; }

/*# sourceMappingURL=style.css.map */
